<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Alter user input</title>
<link href="../css/main.css" rel="stylesheet">
<script src="../js/main.js"></script>
</head>
<body>
    <h2 class="hello-title" th:text="${message}"></h2>
    <h2 class="hello-title" th:text="'Hello '+${user_name}"></h2>
	<form action="/checkDryRun" method="post">
    	<input hidden="text" name="user_name" th:value="${user_name}">
		<input type="text" placeholder="Shard Name" name="shard" required>
		<input type="text" placeholder="Table Schema Name" name="table_schema" required>
		<input type="text" placeholder="Table Definition Name" name="table_definition" required>
		<input type="text" placeholder="MySQL Master Host Name" name="master_host" required>
		<input type="text" placeholder="Ghost Host Name" name="ghost_host" required>
		<input type="text" placeholder="Slave Host Name" name="slave_host" required>
		<textarea placeholder="Alter Statement" name="alter_statement" required></textarea>
		<button type="submit">run test</button>
    </form>
</body>
</html>