<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Login</title>
<link href="../css/main.css" rel="stylesheet">
<script src="../js/main.js"></script>
</head>
<body>
    
    <form action="login" method="post">
		user: <input type="text" placeholder="Enter Username" name="user_name" required></br>
		password: <input type="password" placeholder="Enter Password" name="password" required></br>
		<button type="submit">Login</button>
    </form>
    <h2 class="hello-title" th:text="${message}"></h2>

</body>
</html>